body {
    font-family: Noto,Hiragino Sans,Helvetica,Arial,sans-serif;
    }
    
h1 {
    font-size: 21px;
}
    
.container {
    background-color: #fff;
    border-radius: 5px;
}

.profile {
    background-color: lightcyan;
    border-radius: 5px;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.bi-clock, time {
    font-size: 12px;
}
.bi-check {
    font-size: 32px;
    color: #3cb371;
}
.prof-title {
    display: flex;
    align-items: baseline;
}
.prof-img {
    text-align: center;
}

li {
    font-size: 14px;
    padding: 3px;
}

@media screen and (min-width:660px) {
    .profile {
        display: flex !important;
    }
}